$-colors: (
  "primary": (
    "base": #b12626,
  ),
  "success": (
    "base": #174bd0,
  ),
  "info": (
    "base": #f2f2f2,
  ),
);

$-text-colors: (
  "primary": #999,
);

$-box-shadow: (
  "": (
    0 12px 16px -4px rgba(16, 24, 40, 0.08),
    0 2px 6px -2px rgba(16, 24, 40, 0.03),
  ),
  "light": (
    0 12px 16px -4px rgba(16, 24, 40, 0.08),
    0 2px 6px -2px rgba(16, 24, 40, 0.03),
  ),
);

$-font-family: (
  "": (
    "Inter, sans-serif",
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $-colors,
  $text-color: $-text-colors,
  $box-shadow: $-box-shadow,
  $font-family: $-font-family
);

body {
  margin: 0;
  font-family: var(--el-font-family);
  line-height: 1.5;

  // Restore styling
  * {
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    border: 0;
  }

  .custom-container {
    padding-left: 10%;
    padding-right: 10%;

    @media screen and (max-width: 768px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .strict-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .strict-lines--one {
    -webkit-line-clamp: 1;
  }
}
