$-colors: (
  "primary": (
    "base": #b12626,
  ),
  "success": (
    "base": #174bd0,
  ),
  "info": (
    "base": #f2f2f2,
  ),
);

$-text-colors: (
  "primary": #999,
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $-colors,
  $text-color: $-text-colors,
);

body {
  margin: 0;
}
